{% extends "base.html" %}

{% block title %}Terms & Conditions{% endblock %}

{% block content %}
<div style="padding:80px;max-width:1000px;margin:auto;">
    <h1>Terms & Conditions</h1>
    <p>Welcome to National Investment and Capital Limited. By accessing this website, you agree to comply with these Terms and Conditions. Investment values may rise or fall, and past performance does not guarantee future results. Please read all investment documents carefully before making any financial decisions.</p>
    <a href="{% url 'home' %}" style="display:inline-block; margin-top:20px; color:#024ad8;">← Back to Home</a>
</div>
{% endblock %}